@model SistemaTareas.model.HistorialTarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistorialTarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoModificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarea.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CambiadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CambiadoPor.ContrasenaHash)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HistorialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
